<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>URLLightList</display-name>
	<servlet>
		<description>
		</description>
		<display-name>ListarCategoriaController</display-name>
		<servlet-name>ListarCategoriaController</servlet-name>
		<servlet-class>urllightlist.controller.ListarCategoriaController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CadastrarReclassificacaoController</display-name>
		<servlet-name>CadastrarReclassificacaoController</servlet-name>
		<servlet-class>urllightlist.controller.CadastrarReclassificacaoController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CadastrarAdministradorController</display-name>
		<servlet-name>CadastrarAdministradorController</servlet-name>
		<servlet-class>urllightlist.controller.CadastrarAdministradorController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ExcluirReclassificacaoController</display-name>
		<servlet-name>ExcluirReclassificacaoController</servlet-name>
		<servlet-class>urllightlist.controller.ExcluirReclassificacaoController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GerarURLLightListAtivaController</display-name>
		<servlet-name>GerarURLLightListAtivaController</servlet-name>
		<servlet-class>urllightlist.controller.GerarURLLightListAtivaController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ListarReclassificacaoController</display-name>
		<servlet-name>ListarReclassificacaoController</servlet-name>
		<servlet-class>urllightlist.controller.ListarReclassificacaoController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AtualizarGrauCategoriaController</display-name>
		<servlet-name>AtualizarGrauCategoriaController</servlet-name>
		<servlet-class>urllightlist.controller.AtualizarGrauCategoriaController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ListarUsuarioController</display-name>
		<servlet-name>ListarUsuarioController</servlet-name>
		<servlet-class>controller.ListarUsuarioController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CadastrarDominioController</display-name>
		<servlet-name>CadastrarDominioController</servlet-name>
		<servlet-class>urllightlist.controller.CadastrarDominioController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GerarURLLightListInativaController</display-name>
		<servlet-name>GerarURLLightListInativaController</servlet-name>
		<servlet-class>urllightlist.controller.GerarURLLightListInativaController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LoginController</display-name>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>urllightlist.controller.LoginController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RefinarInputController</display-name>
		<servlet-name>RefinarInputController</servlet-name>
		<servlet-class>controller.RefinarInputController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TesteUpload</display-name>
		<servlet-name>TesteUpload</servlet-name>
		<servlet-class>controller.TesteUpload</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AnalisarBancoDeDadosController</display-name>
		<servlet-name>AnalisarBancoDeDadosController</servlet-name>
		<servlet-class>urllightlist.controller.AnalisarBancoDeDadosController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ListarReclassificacaoCategoria</display-name>
		<servlet-name>ListarReclassificacaoCategoria</servlet-name>
		<servlet-class>urllightlist.controller.ListarReclassificacaoCategoria</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ListarDominioController</display-name>
		<servlet-name>ListarDominioController</servlet-name>
		<servlet-class>urllightlist.controller.ListarDominioController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>BuscarDominioController</display-name>
		<servlet-name>BuscarDominioController</servlet-name>
		<servlet-class>urllightlist.controller.BuscarDominioController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AtualizarDominioController</display-name>
		<servlet-name>AtualizarDominioController</servlet-name>
		<servlet-class>urllightlist.controller.AtualizarDominioController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ExcluirDominioController</display-name>
		<servlet-name>ExcluirDominioController</servlet-name>
		<servlet-class>urllightlist.controller.ExcluirDominioController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AtualizarAdministradorController</display-name>
		<servlet-name>AtualizarAdministradorController</servlet-name>
		<servlet-class>urllightlist.controller.AtualizarAdministradorController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>BuscarAdministradorController</display-name>
		<servlet-name>BuscarAdministradorController</servlet-name>
		<servlet-class>urllightlist.controller.BuscarAdministradorController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AnalisarArquivoController</display-name>
		<servlet-name>AnalisarArquivoController</servlet-name>
		<servlet-class>urllightlist.controller.AnalisarArquivoController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ListarConteudoPastaController</display-name>
		<servlet-name>ListarConteudoPastaController</servlet-name>
		<servlet-class>urllightlist.controller.ListarConteudoPastaController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DownloadMD5Controller</display-name>
		<servlet-name>DownloadMD5Controller</servlet-name>
		<servlet-class>urllightlist.controller.DownloadMD5Controller</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DownloadURLBlackListController</display-name>
		<servlet-name>DownloadURLBlackListController</servlet-name>
		<servlet-class>urllightlist.controller.DownloadURLBlackListController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LogoutController</display-name>
		<servlet-name>LogoutController</servlet-name>
		<servlet-class>urllightlist.controller.LogoutController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListarReclassificacaoController</servlet-name>
		<url-pattern>/ListarReclassificacaoController.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CadastrarReclassificacaoController</servlet-name>
		<url-pattern>/CadastrarReclassificacaoController.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CadastrarAdministradorController</servlet-name>
		<url-pattern>/CadastrarAdministradorController.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExcluirReclassificacaoController</servlet-name>
		<url-pattern>/ExcluirReclassificacaoController.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GerarURLLightListAtivaController</servlet-name>
		<url-pattern>/GerarURLLightListAtivaController.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AtualizarGrauCategoriaController</servlet-name>
		<url-pattern>/AtualizarGrauCategoriaController.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListarUsuarioController</servlet-name>
		<url-pattern>/ListarUsuarioController.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListarCategoriaController</servlet-name>
		<url-pattern>/ListarCategoriaController.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>CadastrarDominioController</servlet-name>
		<url-pattern>/CadastrarDominioController.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GerarURLLightListInativaController</servlet-name>
		<url-pattern>/GerarURLLightListInativaController.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/LoginController.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RefinarInputController</servlet-name>
		<url-pattern>/RefinarInputController.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TesteUpload</servlet-name>
		<url-pattern>/TesteUpload.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AnalisarBancoDeDadosController</servlet-name>
		<url-pattern>/AnalisarBancoDeDadosController.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListarReclassificacaoCategoria</servlet-name>
		<url-pattern>/ListarReclassificacaoCategoria.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListarDominioController</servlet-name>
		<url-pattern>/ListarDominioController.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BuscarDominioController</servlet-name>
		<url-pattern>/BuscarDominioController.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AtualizarDominioController</servlet-name>
		<url-pattern>/AtualizarDominioController.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExcluirDominioController</servlet-name>
		<url-pattern>/ExcluirDominioController.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AtualizarAdministradorController</servlet-name>
		<url-pattern>/AtualizarAdministradorController.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BuscarAdministradorController</servlet-name>
		<url-pattern>/BuscarAdministradorController.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AnalisarArquivoController</servlet-name>
		<url-pattern>/AnalisarArquivoController.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListarConteudoPastaController</servlet-name>
		<url-pattern>/ListarConteudoPastaController.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DownloadMD5Controller</servlet-name>
		<url-pattern>/DownloadMD5Controller.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DownloadURLBlackListController</servlet-name>
		<url-pattern>/DownloadURLBlackListController.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutController</servlet-name>
		<url-pattern>/LogoutController.do</url-pattern>
	</servlet-mapping>
	
	
	<welcome-file-list>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
